.git
node_modules
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
vendor
public/themes/material/*
public/themes/material/assets/libs
!public/themes/material/assets/